{# BMI Form TWIG TEMPLATE #}

{% extends 'md_document.twig' %}

{% block content %}
    
    <h1>Calculate your BMI</h1>
    
    <form action="{{ path_for('bmi') }}" method="POST">
        
        {# WEIGHT text-box #}
        <div class="form-group {% if errors.weight %}"has-error{% endif %}">
             <label class="control-label" for="weight">What is your weight(kg)?</label>
            <input type="text" class="form-control" name="wight" value="{{ bmi.weight }}" />
            {% if errors.weight %}<span class="help-block">{{ errors.weight.0 }}</span>{% endif %}
        </div>

        {# WEIGHT text-box #}
        <div class="form-group {% if errors.height %}"has-error{% endif %}">
             <label class="control-label" for="height">What is your height(m)?</label>
            <input type="text" class="form-control" name="height" value="{{ bmi.height }}" />
            {% if errors.height %}<span class="help-block">{{ errors.height.0 }}</span>{% endif %}
        </div>

        {# EMAIL text-box #}
        <div class="form-group {% if errors.emial %}"has-error{% endif %}">
             <label class="control-label" for="emial">What is your email address?</label>
            <input type="text" class="form-control" name="email" value="{{ bmi.email }}" />
            {% if errors.email %}<span class="help-block">{{ errors.email.0 }}</span>{% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-default" href="{{ path_for('docs-home') }}">Cancel</a>

    </form>
        
   {% endblock %}